.product-item {
  display: flex;
  flex-direction: column;
  border-radius: var(--default-border-radius);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

.product-item-disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.product-section {
  flex: 1 1 auto;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
