.header {
  position: sticky;
  top: 0;
  height: var(--default-header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--default-padding);
  background-color: var(--white);
  border-bottom: 2px solid #000;
  z-index: 1;

  & a {
    text-decoration: none;
    color: var(--black);
  }
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
