.header {
  position: sticky;
  top: 0;
  height: var(--default-header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--default-padding);
  background-color: var(--white);
  border-bottom: 2px solid #000;
  z-index: 1;

  & a {
    text-decoration: none;
    color: var(--black);
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.active-link {
  font-weight: bold;
}

.icon-link {
  font-weight: inherit;
  user-select: none;
}

.products-count {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  user-select: none;
  bottom: 0;
  left: 100%;
}
