* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

#root {
  position: relative;
}

button {
  cursor: pointer;
}

:root {
  --default-padding: 0 2rem;
  --default-border-radius: 0.5rem;

  --default-header-height: 4rem;

  --title-margin-bottom: 1rem;

  --default-table-cell-padding: 0.5rem 0;

  --black: #000;
  --white: #fff;
}
